<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart
          [title]="graphics.one.title"
          [data]="graphics.one.data"
          [labels]="graphics.one.labels"
          [type]="graphics.one.type">
        </app-chart>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart
          [title]="graphics.two.title"
          [data]="graphics.two.data"
          [labels]="graphics.two.labels"
          [type]="graphics.two.type">
        </app-chart>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart
          [title]="graphics.three.title"
          [data]="graphics.three.data"
          [labels]="graphics.three.labels"
          [type]="graphics.three.type">
        </app-chart>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart
          [title]="graphics.four.title"
          [data]="graphics.four.data"
          [labels]="graphics.four.labels"
          [type]="graphics.four.type">
        </app-chart>
      </div>
    </div>
  </div>
</div>
